<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<style>
		.gradient-custom {
			/* fallback for old browsers */
			background: #a1c4fd;

			/* Chrome 10-25, Safari 5.1-6 */
			background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 0.5), rgba(194, 233, 251, 0.5));

			/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			background: linear-gradient(to right, rgba(161, 196, 253, 0.5), rgba(194, 233, 251, 0.5))
		}

		.divider:after,
		.divider:before {
			content: "";
			flex: 1;
			height: 1px;
			background: #eee;
		}

		.link-danger {
			text-decoration: none;
		}

		.h-custom {
			position: relative;
			height: 100%;
		}

		@media (max-width: 450px) {
			.h-custom {
				height: 100%;
			}
		}

		html {
			position: relative;
			min-width: 1024px;
			min-height: 500px;
			height: 100%;
		}
	</style>
	<title>Register</title>
	<script type="text/javascript">
		$(document).ready(function () {

			$("#form").submit(function (event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function (response) {
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML = response.Success;
						//ADD THIS CODE
						setTimeout(function () {
							document.getElementById("check").innerHTML = "";
						}, 3000);
						if (response.Success == "Success!") {
							document.getElementById("aa").click();
						};
					},
					error: function () {
					}
				})
			});

		});
	</script>
</head>

<body class="gradient-custom">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img src="images/apple-touch-icon.png" alt="" width="70" height="50">
			</a>
			<a class="navbar-brand mb-0 h1" href="/">Typing Master</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Start Typing</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="/profile">Profile</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled">Help</a>
					</li>
				</ul>
				<!-- <button class="btn btn-lg btn-primary" type="submit">Login</button> -->
				<a class="btn btn-lg  btn-light" href="/register">SIGN UP</a>
			</div>
		</div>
	</nav>
	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
						class="img-fluid" alt="Sample image">
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<form id="form" method="post">
						<p class="lead fw-normal mb-0 mx-3 ">SIGN IN</p>

						<div class="divider d-flex align-items-center my-4">
							<!-- <p class="text-center fw-bold mx-3 mb-0">SIGN IN</p> -->
						</div>

						<!-- Email input -->
						<div class="form-outline mb-4">
							<input type="email" id="form3Example3" class="form-control form-control-lg" name="email"
								required="" placeholder="Enter a valid email address" />
							<!-- {{!-- <label class="form-label" for="form3Example3">Email address</label> --}} -->
						</div>

						<!-- Password input -->
						<div class="form-outline mb-3">
							<input type="password" id="form3Example4" class="form-control form-control-lg"
								name="password" required="" placeholder="Enter password" />
							<!-- {{!-- <label class="form-label" for="form3Example4">Password</label> --}} -->
						</div>

						<div class="d-flex justify-content-between align-items-center">
							<!-- Checkbox -->
							<div class="form-check mb-0">
								<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
								<label class="form-check-label" for="form2Example3">
									Remember me
								</label>
							</div>
							<a href="/forgetpass" class="text-body">Forgot password?</a>
						</div>

						<div class="text-center text-lg-start mt-4 pt-2">
							<!-- <button type="button" class="btn btn-primary btn-lg"
								style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button> -->
							<input type="submit" value="Login" class="btn btn-primary btn-lg">
							<div class="mssg bg-danger">
								<span id="check"></span>
							</div>
							<p id="LangTable" class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a
									href="/register" class="link-danger">Register</a></p>
						</div>

					</form>
				</div>
			</div>
		</div>
	</section>
	<div
		class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
		<!-- Copyright -->
		<div class="text-white mb-3 mb-md-0">
			Copyright © 2022. All rights reserved.
		</div>
		<!-- Copyright -->

		<!-- Right -->
		<div>
			<a href="#!" class="text-white me-4">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="#!" class="text-white me-4">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="#!" class="text-white me-4">
				<i class="fab fa-google"></i>
			</a>
			<a href="#!" class="text-white">
				<i class="fab fa-linkedin-in"></i>
			</a>
		</div>
		<!-- Right -->
	</div>
	
</body>

</html>