body{
  background-color: #ebf1fa;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.link-danger{
text-decoration: none;
}
.h-custom {
position: relative;
height:100%;
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}